In [1]:
import sys
import os
TOP = "C:/Users/vishk/Desktop/WIP/2020/2020 Q1/07 - Self Learning"
sys.path.append(f"{TOP}/lib")
os.environ["TOP"] = TOP
from bootstrap import *

Using TensorFlow backend.

In [4]:
mysql_con, sql_svr_con = get_con(cfg['mysql'], cfg['sql_svr'])
con       = sql_svr_con
sql       = "select * from covid19_us_mds"
df_out        = get_df_from_sql(sql, con)

In [11]:
df_2 = pd.DataFrame(df_out.groupby(['state'])['incidence'].sum())

In [13]:
df_2.reset_index()

                       state  incidence
0                    Alabama      15061
1                     Alaska       1626
2             American Samoa          0
3                    Arizona      19405
4                   Arkansas       8107
5                 California     128233
6                   Colorado      41634
7                Connecticut      44725
8                   Delaware       5104
9           Diamond Princess       1023
10      District of Columbia       7814
11                   Florida      96723
12                   Georgia      56988
13            Grand Princess       1330
14                      Guam       1072
15                    Hawaii       3228
16                     Idaho       7566
17                  Illinois      90525
18                   Indiana      32445
19                      Iowa       7228
20                    Kansas       6349
21                  Kentucky       8424
22                 Louisiana      95087
23                     Maine       4622
24                  Maryland      26585
25             Massachusetts      99486
26                  Michigan     118711
27                 Minnesota       9444
28               Mississippi      14218
29                  Missouri      19205
30                   Montana       2671
31                  Nebraska       2995
32                    Nevada      16134
33             New Hampshire       5068
34                New Jersey     282893
35                New Mexico       5070
36                  New York    1112917
37            North Carolina      23317
38              North Dakota       1860
39  Northern Mariana Islands         38
40                      Ohio      33086
41                  Oklahoma       9390
42                    Oregon      10108
43              Pennsylvania      81419
44               Puerto Rico       3340
45              Rhode Island       7310
46            South Carolina      17007
47              South Dakota       1925
48                 Tennessee      33287
49                     Texas      58177
50                      Utah      13324
51                   Vermont       4403
52            Virgin Islands        374
53                  Virginia      19973
54                Washington      87682
55             West Virginia       2355
56                 Wisconsin      21519
57                   Wyoming       1752